<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="app">
<div class="container">
    <h2 class="text-primary">
        <a href="https://github.com/shaoxianhui/toy.git">Web环境 Angularjs + Express4 + Bootstarp3</a>
    </h2>
    <p>https://github.com/shaoxianhui/toy.git</p>
    <div class="container">
        <div class="row">
            <div ng-view></div>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/angular/app/app.js"></script>
    <script src="/angular/controllers/controllers.js"></script>
</body>
</html>
